@{
    ViewBag.Title = "Phantom";
}

<div class="jumbotron">
        <img src="~/Content/Phantom.jpg" alt="Phantom" style="width:254px;height:158px;">
        <h1>Phantom Tool</h1>
    </div>
<div class="row">

    <div class="col-md-4">
        <h3>@Html.ActionLink("Unit Search", "Search")</h3>
        <h3>@Html.ActionLink("C&Rs List", "List")</h3>
       
    </div>
    <div class="col-md-4">
        <h3>@Html.ActionLink("C&Rs General Report", "General")</h3>
        </div>
        <div class="col-md-4">
            <h3>@Html.ActionLink("AP Access", "APlist")</h3>

        </div>
    </div>
