@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<div class="jumbotron">
    <h1>Frequent Asked Questions...</h1>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>How do I acivate my e-mail account?</h2>
        <p>
            The instructions to activate your account will be sent to your email once you have submitted the registration form. If you did not receive this email, your email service provider’s mailing software may be blocking it. You can try checking your junk / spam folder or contact us at help@samplestore.com

        </p>
   </div>    
</div>

<div class="row">
    <div class="col-md-4">
        <h2>¿Por qué no puedo conectarme a la applicacion?</h2>
        <p>
            Verifique que este conectado al cable o que este conectado a traves de BLUE
        </p>
    </div>
</div>

  