@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    ElementCorp<br />
    <abbr title="Phone">P:</abbr>
    50.18.7220
</address>

<address>
    <strong>IT Support:</strong>   <a href="mailto:hsagaon@elementcorp.com">hsagaon@elementcorp.com</a><br />
    <strong>Business Support:</strong> <a href="mailto:jsol@elementcorp.com">helpdesk apps@elementcorp.com</a>
</address>