@{
    ViewBag.Title = "Home Page";
}

@*este es un comentario de Daniel*@

<div class="jumbotron">
    <h1>Inventory Tool</h1>
    <p class="lead">Inventory Tool.</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Welcome to Inventory Tool</h2>
        <p>
           This is a web application. You can use any web browser but we recommend to use Chrome, IExplorer or Mozilla Firefox.
        </p>
     </div>
    <div class="col-md-4">
        <h2>I am lost !!!</h2>
        <p>You can download the completed user guide from this site.</p>
        <p><a class="btn btn-default" href="#">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Contact Informaction</h2>
        <p>Please let us know your comments if the application is down or if you have an error in your screen.</p>
        <p><a class="btn btn-default" href="#">Learn more &raquo;</a></p>
    </div>
</div>